* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.container-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  width: 100%;
}

nav {
  background-color: #00b19d;
  height: 4rem;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #ffffff;
  width: 4rem;
  height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #e8ebf0;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: scroll;
}

#shop_car {
  /* display: flex  */
  background-color: #fefefe;
  height: 100%;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

#shop_car h3 {
  margin: 0;
  background-color: #809bb6;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer {
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0.1rem;
  height: 10rem;
  width: 100%;
}

#items article {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid #00b19d;
  height: 3rem;
}

#sale_button {
  background-color: #00b19d;
  margin-top: 6.5rem;
  width: 40%;
  margin: 2rem;
  height: 3rem;
  color: white;
  border-radius: 5px;
}

#cancel_sale {
  background-color: #809bb6;
  height: 3rem;
  width: 50%;
  color: white;
}

.circle {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: #00b19d;
  text-align: center;
  color: white;
}

#search {
  width: 100%;
  padding: 1rem;
}

#search input {
  width: 80%;
  border: 2px solid #00b19d;
  height: 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

#button {
  height: 2rem;
  width: 5%;
  color: white;
  background-color: #00b19d;
}

#article span {
  text-align: center;
}

#product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#product article {
  margin: 1rem;
  position: relative;
  height: 19rem;
  width: 13rem;
  background-color: white;
  color: #ffffff;
  padding: 0.5rem;
}

#product article div {
  width: 13rem;
  height: 14rem;
}

#product article div img {
  width: 12rem;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#product article h5 {
  position: absolute;
  height: 1rem;
  top: -1rem;
  left: 0.5rem;
  background-color: #ffffff;
  color: black;
}

#product article h6 {
  color: black;
}

#product article image {
  width: 100%;
  height: 12rem;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

#product article span {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  background-color: #ffffff;
  color: green;
}

#product article small {
  position: absolute;
  right: 0.5rem;
  top: 12.5rem;
  background-color: #ffffff;
  color: #000;
}
/*# sourceMappingURL=estilo.css.map */