*{
    box-sizing: border-box;
   
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav{
    background-color:#00b19d;
    height: 3rem;
 
}

.container-body{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.container-main{
    display: flex;
  flex-flow: row;
  height: 100%;

}
#index{
    background-color:  #ffffff;
    width: 4rem;
    height: 100%;
}
main{
background-color: #e8ebf0;
height: 100%;
flex:1;
}
#products{
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#products article{
    margin: 1rem;
    width: 15rem;
    height: 18rem;
    border:  2px solid #00b19d;
    background-color: white;
    flex-flow: row;
    display: flex;
    color:#00b19d;
     

}

#shop_car{  
   background-color: #fefefe;
    height: 100%;
    flex:0.4;
}

#shop_car h3{
     margin: 0;
    background-color: #809bb6;
    width: 55rem;
    height: 4rem;
    text-align: center;
    color: white;
}

footer{
    background-color: #f5f5f5;
    position: fixed;
    bottom:0.1rem;
    height: 10rem;
    width: 100%;
  
}
#items{
    margin-top: 2rem;
   display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
   

}


#sale_button{
    background-color:#00b19d;
    margin-top: 6.5rem;
    width: 40%;
    margin: 2rem;
    height: 3rem;
    color: white;
border-radius: 5px;
 
    
}
#cancel_sale{
    background-color:#809bb6;
    height: 3rem;
    width: 50%;
    color: white;
}

